apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{bitcoin_lnd_app_name}}"
  labels:
    app: "{{bitcoin_lnd_app_name}}"
    role: "lnd"
    core_config_version: "{{bitcoin_lnd_cfg_version}}"
spec:
  selector:
    matchLabels:
      app: "{{bitcoin_lnd_app_name}}"
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: "{{bitcoin_lnd_app_name}}"
        role: "{{bitcoin_lnd_app_role}}"
    spec:
      nodeSelector:
        failure-domain.beta.kubernetes.io/zone: "{{zone}}"
      containers:
      - name: lnd
        image: "{{bitcoin_lnd_image}}"
          command:
          - "sh"
          - "-c"
          - >
            exec lnd
            --bitcoin.active
            --bitcoin.mainnet
            --bitcoin.node=bitcoind
            --bitcoind.rpcuser=$RPCUSER
            --bitcoind.rpcpass=$RPCPASSWORD
            --bitcoind.zmqpubrawblock={{bitcoin_lnd_bitcoind_zmqpubrawblock}}
            --bitcoind.zmqpubrawtx={{bitcoin_lnd_bitcoind_zmqpubrawtx}}
        ports:
        - name: lnd-p2p
          containerPort: 9735
        - name: lnd-rpc
          containerPort: 10009
        env:
        - name: RPCUSER
          valueFrom:
            secretKeyRef:
              name: "{{bitcoin_lnd_bitcoind_cfg_secret}}"
              key: rpcuser
        - name: RPCPASSWORD
          valueFrom:
            secretKeyRef:
              name: "{{bitcoin_lnd_bitcoind_cfg_secret}}"
              key: rpcpassword
{% if bitcoin_lnd_resources is defined %}
        resources:
{% if bitcoin_lnd_resources.requests is defined %}
          requests:
{% if bitcoin_lnd_resources.requests.memory is defined %}
            memory: "{{bitcoin_lnd_resources.requests.memory}}"
{% endif %}
{% if bitcoin_lnd_resources.requests.cpu is defined %}
            cpu: "{{bitcoin_lnd_resources.requests.cpu}}"
{% endif %}
{% endif %}
{% if bitcoin_lnd_resources.limits is defined %}
          limits:
{% if bitcoin_lnd_resources.limits.memory is defined %}
            memory: "{{bitcoin_lnd_resources.limits.memory}}}"
{% endif %}
{% if bitcoin_lnd_resources.limits.cpu is defined %}
            cpu: "{{bitcoin_lnd_resources.limits.cpu}}"
{% endif %}
{% endif %}
{% endif %}
        volumeMounts:
        - name: bitcoin-lnd-data
          mountPath: /root/.lnd
      volumes:
        - name: lbitcoin-lnd-data
          gcePersistentDisk:
            pdName: "{{bitcoin_lnd_disk}}"
            fsType: ext4